VITE_FIREBASE_DATABASE_URL=https://salem-1692-16b8b-default-rtdb.firebaseio.com
VITE_FIREBASE_FUNCTIONS_REGION=us-central1
VITE_USE_FIREBASE_EMULATORS=true
# Opcional: fija la IP LAN de la computadora. Por defecto se usa el hostname de la pagina.
# VITE_FIREBASE_EMULATOR_HOST=192.168.1.10
